:root{
    --color-primary: #3c3d3d;
    --color-primary-dark: #8e9191;
    --color-primary-white: #ebbb52;

    --color-secondary: #64E9EE;
    --color-secondary-dark: #3AAFB9;

    --color-gray-light: #f1f1f1;
    --color-gray: #ccc;
    --color-gray-dark: #333;
}